

<!-- BARRA/MENU LATERAL  -->
<nav class="sidebar sidebar-offcanvas creme-show" id="sidebar">
    <ul id="listMenu" class="nav">
        <li class="nav-item">
            <a class="nav-link" data-bs-toggle="collapse" href="#" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-home"></i>
                <span class="menu-title">SIAN Principal</span>
                <i class="menu-arrow"></i>
            </a>            
        </li>
        <li class="nav-item nav-category">LINKS</li>
        <li class="nav-item item-border item-selected-menu">
            <a class="nav-link" data-bs-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">
                <i class="menu-icon mdi mdi-city"></i>
                <span class="menu-title">INFORMACIÓN<br>ESCUELAS</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="icons">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="rem#">Ficha Centro De Trabajo</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item item-border item-selected-menu">
            <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-laptop"></i>
                <span class="menu-title">SERVICIOS EN<br>LÍNEA</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse item-selected-menu<" id="form-elements">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="#">Consulta De Calificaciones</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"><a class="nav-link" href="#">Pago En Línea</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item item-border">
            <a class="nav-link" data-bs-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">
                <i class="menu-icon mdi mdi-library-books"></i>
                <span class="menu-title">DOCUMENTOS<br>DE INTERÉS</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="charts">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Material De Apoyo</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Publicaciones</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Normatividad</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Sitios De Interés</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Consejos Técnicos <br>Escolares</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Solicitud De Usuario Y <br>Contraseña SIIE</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Colorimetría De Planteles <br>Educativos</a></li>
                </ul>
            </div>
        </li>
        <li class="nav-item item-border">
            <a class="nav-link" data-bs-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
                <i class="menu-icon mdi mdi-widgets"></i>
                <span class="menu-title">MÓDULOS DE <br>INTRANET</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Módulo De Control Escolar</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">Estructuras Educativas</a></li>
                </ul>
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Módulo De Archivo</a></li>
                </ul>
            </div>
        </li>
</nav>
<!-- 3. END - SideBar -->

<style>

    .item-selected-menu{
        border-right-style: solid;
        border-right-color: #dec99d;
        border-right-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #dec99d;
        border-bottom-width: 1px;
        border-bottom-right-radius: 10px;
    }

</style>
