@{
    ViewData["Title"] = "Index sin menu lateral";
}


@{
    ViewData["Title"] = "";
}


@{
    ViewData["Title"] = "Login Page";
    string Ruta = "~/images/MODULO1.png";
}



<div class="container-fluid page-body-wrapper">

    <div class="main-panel">
        <div class="content-wrapper white-show">
            

            <h1>Contenido Aqui</h1>
            
        </div>


        <style>

            .main-panel {
                transition: width 0.25s ease, margin 0.25s ease;
                width: calc(100% - 0px);
                min-height: calc(100vh - 97px);
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: column;
                flex-direction: column;
            }

        </style>
