@{
    ViewData["Title"] = "Titulo de la pagina";    
}

<!-- COMPONENTES PRINCIPALES DE LA INTERFAZ -->
<partial name="/Views/VistasGenerales/Content1.cshtml" />


 <div class="content-wrapper white-show">
    <h1>Contenido aqui</h1>         
 </div>
